<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lin.dao.BlogDao">

    <resultMap id="blog" type="Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="flag" column="flag"/>
        <result property="views" column="views"/>
        <result property="updateTime" column="update_time"/>
        <result property="typeId" column="type_id"/>
        <result property="firstPicture" column="first_picture"/>
        <result property="shareStatement" column="share_statement"/>
        <result property="published" column="published"/>
        <result property="appreciation" column="appreciation"/>
        <result property="commentabled" column="commentabled"/>
        <result property="description" column="description"/>
        <result property="recommend" column="recommend"/>
        <result property="createTime" column="create_time"/>
        <result property="typeId" column="type_id"/>
        <result property="userId" column="user_id"/>
        <result property="tagIds" column="tag_ids"/>
        <association property="type" javaType="Type">
            <id property="id" column="typeid"/>
            <result property="name" column="typename"/>
        </association>
        <association property="user" javaType="User">
            <id property="id" column="uid"/>
            <result property="nickname" column="nickname"/>
            <result property="username" column="username"/>
            <result property="email" column="email"/>
            <result property="avatar" column="avatar"/>
        </association>
        <collection property="tags" ofType="Tag">
            <id property="id" column="tagid"/>
            <result property="name" column="tagname"/>
        </collection>
    </resultMap>

    <select id="getBlog" resultMap="blog"> /*blog 详细页*/
        select * from t_blog  where id = #{id}
    </select>


    <select id="getAllBlog" resultMap="blog">  /*后台博客展示*/
        select b.id, b.title, b.update_time, b.recommend, b.type_id, b.published,
               t.id typeid, t.name typename
        from t_blog b, t_type t
        <where>
            <if test="1 == 1">
                b.type_id = t.id    /*博客类型id=类型id*/
            </if>
            <if test="u_id != 1">
                and b.user_id = #{u_id}    /*非管理员 查询自己的blog */
            </if>
        </where>
    </select>

    <select id="searchBlog" parameterType="Blog" resultMap="blog">
        <bind name="pattern" value="'%' + blog.title + '%'" />    /*模糊查询*/
        select b.id, b.title, b.update_time, b.recommend, b.published, b.type_id, t.id typeid, t.name typename
        from t_blog b ,t_type t
        <where>
            <if test="1 == 1">
                b.type_id = t.id    /*博客类型id=类型id*/
            </if>
            <if test="u_id != 1">
                and b.user_id = #{u_id}    /*非管理员 查询自己的blog */
            </if>
            <if test="blog.typeId != null">
                and b.type_id = #{blog.typeId}       /*根据博客类型查询*/
            </if>
            <if test="blog.recommend != null">
                and b.recommend = #{blog.recommend}   /*根据博客推荐查询*/
            </if>
            <if test="blog.title != null">
                and b.title like #{pattern}   /*根据博客title模糊查询*/
            </if>
        </where>
    </select>

    <insert id="saveBlog" parameterType="blog">
        insert into t_blog values (#{id},#{title},#{content},#{firstPicture},#{flag},#{views},#{appreciation},
        #{shareStatement},#{commentabled},#{published},#{recommend},#{createTime},#{updateTime},#{typeId},#{userId},#{description},#{tagIds})
    </insert>

    <update id="updateBlog" parameterType="blog">
        update t_blog
        set title=#{title},content=#{content},first_picture=#{firstPicture},flag=#{flag},appreciation=#{appreciation},
        share_statement=#{shareStatement},commentabled=#{commentabled},published=#{published},
        recommend = #{recommend},update_time = #{updateTime},type_id = #{typeId},
        description=#{description},tag_ids=#{tagIds}
        where id=#{id}
    </update>

    <update id="updateBlogType" parameterType="Long">
        update t_blog
        set type_id = #{typeId}
        where id=#{blogId}
    </update>

    <update id="updateBlogTag" parameterType="blog">
        update t_blog
        set tag_ids = #{tagIds}
        where id=#{id}
    </update>

    <update id="updateViews" parameterType="Long">
        update t_blog
        set views = #{views}
        where id = #{blogId}
    </update>

    <delete id="deleteBlogId_TagId" parameterType="Long">
        delete from t_blog_tags where tag_id = #{tag_id}
    </delete>

    <insert id="saveBlogId_TagId" parameterType="Long">
        insert into t_blog_tags(tag_id,blog_id) values (#{tag_id}, #{blog_id})
    </insert>

    <select id="getByTypeId" resultMap="blog">
        select b.id, b.title, b.first_picture, b.views, b.update_time, b.description,
               t.name typename, t.id typeid,
               u.nickname, u.avatar
        from t_blog b, t_type t, t_user u
        where b.type_id = t.id and u.id = b.user_id and b.type_id = #{typeId}
        order by b.update_time desc
    </select>

    <select id="getByTagId" resultMap="blog">
        <bind name="t_tagid" value="'%'+ tagId +'%'"/>
        select  b.id, b.title, b.first_picture, b.views, b.update_time, b.description, b.tag_ids,
        a.id tagid, a.name tagname,
        t.id typeid, t.name typename,
        u.nickname, u.avatar
        from t_blog b, t_tag a, t_type t, t_user u
        where b.tag_ids like #{t_tagid} and a.name=#{tagName} and u.id = b.user_id
        order by b.update_time desc
    </select>

    <select id="findGroupYear" resultType="String">
        select DATE_FORMAT(b.update_time, '%Y') from t_blog b order by b.update_time desc
    </select>

    <select id="findByYear" resultMap="blog">
        select b.title, b.update_time, b.id, b.flag
        from t_blog b
        where DATE_FORMAT(b.update_time, '%Y') = #{year}
        order by b.update_time desc
    </select>

    <select id="getDetailedBlog" resultMap="blog">  /*博客详情*/
        select b.id, b.first_picture, b.flag, b.title, b.content, b.views,
               b.update_time,b.commentabled, b.share_statement, b.appreciation,
               u.nickname, u.avatar,
               tag.id tagid, tag.name tagname
        from t_blog b, t_user u, t_tag tag, t_blog_tags tb
        where b.user_id = u.id and tb.blog_id = b.id and tb.tag_id = tag.id and  b.id = #{id}
    </select>

    <select id="getIndexBlog" resultMap="blog"> /* 首页blog显示*/
        select b.id, b.title, b.first_picture, b.views, b.update_time, b.description,
               t.name typename, t.id typeid,
               u.nickname, u.avatar
        from t_blog b, t_type t, t_user u
        where b.type_id = t.id and u.id = b.user_id
        order by b.update_time desc
    </select>

    <select id="getAllRecommendBlog" resultMap="blog"> /* 首页显示推荐排名前10*/
        select id, title
        from t_blog
        where recommend > 0
        order by recommend desc limit 10
    </select>

    <select id="getSearchBlog" resultMap="blog">
        <bind name="pattern" value="'%' + info + '%'" />
        select b.id, b.title, b.first_picture, b.views, b.update_time, b.description,
        t.name typename,
        u.nickname, u.avatar
        from t_blog b, t_type t, t_user u
        where b.type_id = t.id and  u.id = b.user_id and (b.title like #{pattern} or b.content like  #{pattern})
        order by b.update_time desc
    </select>


</mapper>